* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 600px;
}

body .header img {
    width: 50%;
}

body .title {
    margin-top: 8px;
    margin-bottom: 8px;
}

.body {
    display: flex;
}

.body .left-img {
    width: 25%;
}

.body .right-paragraph {
    margin-left: 50px;
    font-size: 14px;
}