* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    background-color: gray;
    justify-content: space-between;
}

.header .left-img {
    width: 130px;
    height: 130px;
}

.header .right-content {
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: auto 0px;
}

.header .right-img {
    width: 130px;
    height: auto;
}

.content {
    display: flex;
    justify-content: space-between;
}

.content .menu .list-item {
    list-style: none;
    background-color: black;
    padding: 14px 8px;
    width: 200px;
    position: relative;
    border-bottom: 1px solid white;
}

.content .menu .list-item a {
    text-decoration: none;
    color: aliceblue;
    margin-left: 10px;
}

.content .menu .list-item:hover {
    background-color: brown;
}

.content .menu .list-item .submenu {
    position: absolute;
    left: 100%;
    top: 0;
    display: none;
}

.content .menu .list-item:hover .submenu {
    display: block;
}

.content .center-content .content {
    margin-bottom: 40px;
    margin-top: 20px;
    width: 800px;
}

.content .center-content .content img {
    width: 100px;
    height: 100px;
}

.content .center-content .content .noidung {
    text-align: justify;
}

.content .search {
    margin: 20px auto;
}

.content .right-contact .login {
    border: 1px solid black;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.content .right-contact .login a {
    color: black;
    text-decoration: none;
    padding: 6px 0px;
}

.content .search table,tr,td {
    border: 1px solid black;
    border-collapse: collapse;
}

.content .search tr,td {
    padding: 6px;
}

.footer {
    background-color: black;
    padding: 20px 0px;
}

.footer p {
    align-items: center;
    text-align: center;
    color: aliceblue;
}
